body{
  background: #084666;
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: #FFDFC5;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #084666;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}


.container {
  text-align: center;
  margin-top: 360px;
}

.btn {
  border: 1px solid #084666;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1 {
  color:#3498db;
}

.btn1:hover {
  color: #DD3069;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #084666;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before {
  top: 0
  border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
  height: 180%
}
